.navbar.navbar-soundroom{
    margin-bottom: 0;
    background-color: $primary;
    .container-fluid{
        position: relative;
    }
    .navbar{
        &-brand{
            display: block;
            position: absolute;
            left: 30px;
            img{
                height: 140px;

            }
            @media (max-width: 767px) {
                left: 50%;
                transform: translateX(-50%);
                img{
                    height: 77px;
                }

                &.d-none{
                    display: none;
                }
            }
        }

        &-toggle{
            .icon-bar{
                background-color: #fff;
            }
        }

        &-collapse{
            background-color: $primary;
        }

        &-nav{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media (max-width: 767px) {
                flex-direction: column;
                padding-top: 40px;
                padding-bottom: 15px;
            }

            li{
                a{
                    font-size: 18px;
                    font-weight: 700;
                    font-family: $font-rubik;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 27px 40px;

                    @media (max-width: 767px) {
                        padding: 15px 0;
                    }

                    &:hover, &:focus{
                        background-color: transparent;
                    }

                    &:hover{
                        color: $warning;
                    }
                }

            }
            .dropdown{
                &-menu{
                    background-color: #0F3375;
                    text-align: center;
                    border: none;
                    min-width: unset;
                    width: 100%;

                    @media (max-width: 767px) {
                        background-color: transparent;
                    }

                    li{
                        a{
                            border: none !important;
                        }
                    }
                }

                > a{
                    &:after{
                        font-size:12px;
                        margin-left:5px;
                        position:relative;
                        top:-3px;
                        content:"\f078";
                        font: normal normal normal 14px/1 FontAwesome;

                    }
                }

                &.open{
                    > a{
                        &:after{
                            content:"\f077";
                        }
                    }
                }
            }

        }
    }

    .nav{
        &-search{
            padding-right: 0;
            padding-left: 15px;

            @media (max-width: 767px) {
                padding-top: 10px;
            }
        }
        .open{
            > a{
                background-color: #0F3375;
                @media (max-width: 767px) {
                    background-color: transparent;
                }
            }
        }
    }
}

.navbar.navbar-main{
    background-color: #F1F1F2;
    border: none;
    padding: 0;
    &::after, &::before{
        display: none;
    }
    @include below(xl){
        padding: 7px 15px;
        border: none;
        border-bottom: 2px solid $primary !important;
    }
    .container-fluid{
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;

        @include below(xl){
            display: block;
        }
    }

    *{
        float: none;
        &:not(a):not(i){
            &::before, &::after{
                display: none;
            }
        }
    }

    .navbar{
        &-brand{
            padding: 0;
            height: auto;
            margin: 0;
            @include below(xl){
                margin: 0 auto;
            }
            img{
                height: 79px;
                width: auto;

                @include below(md){
                    height: 73px;
                    position: relative;
                    left: -15px;
                }
            }
        }

        &-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include below(xl){
                border: none !important;
            }
        }

        &-toggle{
            border: none !important;
            margin: 0;
            padding: 0;
            .icon-bar{
                background-color: $primary;
            }
            @include below(xl){
                display: block;
            }
        }

        &-collapse{
            display: flex !important;
            align-items: center;
            flex-grow: 1;

            @include below(xl){
                position: absolute;
                flex-direction: column;
                width: 100%;
                background-color: #fff;
                max-height: unset;
                box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.29);
                top: 53px;
                left: 0;
                margin: 0;
                &.collapse{
                    display: none !important;

                    &.in{
                        display: block !important;
                    }
                }
            }
        }

        &-nav{
            display: flex;
            align-items: center;
            gap: 5px;
            @include below(xl){
                flex-direction: column;
                width: 100%;
                float: none !important;
            }

            @include below(md){
                width: 100%;
                float: none !important;
            }

            li{
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                color: $primary;
                gap: 4px;

                @include below(xl){
                    font-size: 16px;
                    display: block;
                }

                @media (min-width: 1202px) and (max-width: 1280px) {
                    font-size: 16px;
                }

                .fa{
                    font-size: 32px;
                    color: #3E3E3E;
                }

                a{
                    font-size: 18px;
                    font-weight: 700;
                    font-family: $font-rubik;
                    color: $primary;
                    text-transform: uppercase;
                    padding: 30px 20px;
                    @include below(xl){
                        font-size: 16px;
                        padding: 15px 16px;
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                    }

                    @media (min-width: 1202px) and (max-width: 1280px) {
                        font-size: 16px;
                    }

                    &.active{
                        background-color: $primary;
                        color: #fff;
                    }

                    &.navbar-nav__search{
                        padding: 20px;

                        @include below(xl){
                            padding: 15px 16px;
                        }
                    }

                    &:hover{
                        color: $danger;
                    }
                }

                &.dropdown{
                    a{
                        &::after{
                            color: $primary;
                        }
                    }
                }
                &.navbar-nav__auth{
                    color: $danger;

                    a{
                        color: $danger;
                    }
                }
            }

            .dropdown{
                &.open{
                    > a{
                        background-color: #0d306f;
                        color: #fff;

                        &::after{
                            color: #fff;
                        }
                    }
                }
                &-menu{
                    background-color: rgba(#0F3375, 0.9) !important;
                    text-align: center;
                    border: none;
                    min-width: unset;
                    width: 100%;

                    @media (max-width: 767px) {
                        background-color: transparent;
                    }

                    li{
                        font-size: 16px;
                        font-weight: 700;
                        width: 100%;
                        a{
                            text-align: center;
                            border: none !important;
                            display: block;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;
                            width: 100%;
                        }
                    }
                }

                > a{
                    &:after{
                        font-size:12px;
                        margin-left:5px;
                        position:relative;
                        top:-3px;
                        content:"\f078";
                        font: normal normal normal 14px/1 FontAwesome;

                    }
                }

                &.open{
                    > a{
                        &:after{
                            content:"\f077";
                        }
                    }
                }
            }


        }

        &-right{
            margin-left: auto;
            justify-content: flex-end;
            margin-right: 0;
        }
    }
}